.vscode/**
**/*.ts
**/*.map
.gitignore
.vscodeignore
shared.webpack.config.js
**/tsconfig.json
**/tslint.json
client/node_modules/**
client/src/**
client/webpack.config.js
server/node_modules/**
server/src/**
server/webpack.config.js
server/lib/**
node_modules/**
images/*.gif
**/*.vsix
**/package-lock.json
